.cardView {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, 180px);
    justify-content: space-between;
    grid-gap: 20px;
}

.cardBox {
    display: flex;
    background: #fff;
    border-radius: 10px;
    padding: 1rem;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid #cdcdcd;
    width: 180px;
    margin-bottom: 1rem;
}

.image {
    display: flex;
    justify-content: center;
}

.image img {
    border-radius: 10px;
}

.content {
    margin-top: 1rem;
}

.title,
.price {
    font-size: 0.8rem;
    font-weight: 700;
}

.desc {
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #8c8f98;
    font-size: 0.8rem;
}

.addToCart {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
    cursor: pointer;
    padding: 0.55rem 1rem;
    border-radius: 7px;
    background: #6c5ce7;
    color: #fff;
    border: none;
}

.addToCart svg {
    margin-right: 0.5rem;
}

.addToCart:hover {
    background: #5d4ecd;
}

.emptyState {
    display: flex;
    margin: 2rem 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.emptyState svg {
    font-size: 3rem;
    color: #6c5ce7;
    margin-bottom: 1rem;
}

.pagination {
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .cardView {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, 180px);
        justify-content: space-between;
        grid-gap: 20px;
    }
}