.header {
    text-transform: capitalize;
    padding: 1rem;
    font-weight: 600;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.header:not(:first-child) {
    border-top: 1px solid #dedede;
}

.header:not(:last-child) {
    border-bottom: 1px solid #dedede;
}

.header .expand {
    /* color: #e74c3c; */
    font-size: 1rem;
}

.content {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem 0;
    /* overflow: auto; */
}

.filterCheckbox {
    display: inline-block;
}

.filterCheckbox label,
.showMore button {
    white-space: nowrap;
    color: #373737;
    text-transform: capitalize;
    border: 1px solid #dedede;
    font-size: 0.7rem;
    border-radius: 25px;
    background: #fff;
    transition: all .2s;
    padding: 0.45rem 0.9rem;
    margin: 0.3rem;
    cursor: pointer;
    display: inline-block;
}

.filterCheckbox label:hover,
.showMore button:hover{
    background: #ececec;
}

.showMore {
    display: inline-flex;
}

.showMore button {
    padding: 0.5rem 0.9rem;
    display: flex;
    align-items: center;
}

.showMore button svg {
    margin-right: 0.2rem;
}

.filterCheckbox input[type="checkbox"] {
    display: none;
}

.filterCheckbox input[type="checkbox"]:checked+label {
    color: #1766db;
    background: #e0edfd;
    border: 1px solid #1766db;
}