.navigation {
  display: flex;
  position: fixed;
  z-index: 100;
  bottom: 0;
  width: 100%;
  padding: 1rem 0.5rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-top: 1px solid #dedede;
}

.brand {
  display: none;
  cursor: default;
}

.logo {
  margin-right: 0.75rem;
  font-weight: 700;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  color: #fff;
  background: #1766db;
  box-shadow: 4px 4px #FFC312;
  border-radius: 5px;
}

.menu {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  color: #373737;
}

.menu li {
  position: relative;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: #808080;
  list-style: none;
  align-items: center;
  display: flex;
  border-radius: 10px;
  font-size: 0.8rem;
  padding: 0.7rem 1rem;
}

.menu li:hover {
  cursor: pointer;
  background: #eaeaea;
}

.menu li.isActive:hover {
  cursor: pointer;
  background: #e0edfd;
}

.menu .isActive .icon {
  color: #1766db;
}

li.isActive {
  color: #1766db;
  background: #e0edfd;
  font-weight: 600;
}

.menu .icon {
  font-size: 1.3rem;
  display: inline-flex;
  align-items: center;
  margin-right: 0.5rem;
}

.menu .counter {
  font-size: 0.7rem;
  position: absolute;
  left: 25px;
  top: 0;
  font-size: 0.6rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background: #e74c3c;
  border-radius: 100%;
  border: 2px solid #fff;
}

@media (min-width: 768px) {
  .navigation {
    width: 300px;
    height: 100vh;
    background-color: #fff;
    border-right: 1px solid #dedede;
    display: flex;
    justify-content: flex-start;
    position: relative;
    padding: 2rem;
  }
  .brand {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
  }
  .menu {
    flex-direction: column;
    margin: 2.5rem 0;
    width: auto;
  }
  .menu li {
    padding: 0.6rem 1rem;
  }
}