.show {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    background: #fff;
    margin-left: 1rem;
    position: relative;
}

.show span {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0.5rem 1rem;
    border: 1px solid #dedede;
}

.show span:nth-child(1) {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.show span:nth-child(2) {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.handler {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.handler:hover, .options:hover {
  background: #ececec;
}

.handler svg {
    margin-left: 0.5rem;
    font-size: 1.2rem;
}

.select {
    right: 0;
    top: 40px;
    position: absolute;
    background:#fff;
    box-shadow: rgb(0 0 0 / 5%) 0 2px 6px 0;
}

.options {
    z-index: 1;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-bottom: 1px solid #dedede;
}