.generalTable {
    width: 100%;
    min-height: 440px;
    background-color: #fff;
    margin: 1rem 0;
    font-size: 0.9em;
    border: 1px solid #dedede;
    border-bottom: none;
    border-radius: 10px;
}

.generalTable thead tr {
    text-align: left;
    white-space: nowrap;
}

.generalTable th {
    padding: 1rem;
    border-bottom: 1px solid #dddddd; 
}

.generalTable td {
    padding: 0.75em 1rem;
    border-bottom: 1px solid #dddddd; 
}

.generalTable tbody tr {
    margin: 1rem 0;
    font-size: 0.85rem;
}

.pagination {
    display: flex;
    justify-content: center;
  }

  .emptyState {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    font-size: 0.8rem;
  }

  .emptyState svg {
    margin-right: 0.5rem;
}