.displayFlex {
  display: flex;
}

.productContainer {
  display: flex;
  flex-direction: column;
}

.filterFlex, .productFlex {
  width: 100%;
  overflow-x: auto;
}

.filterBox {
  position: absolute;
  top: 45px;
  right: 0;
  width: 320px;
  max-height: 450px;
  overflow-y: auto;
  background-color: #fff;
  padding: 0.5rem 1rem;
  border: 1px solid #dedede;
  box-shadow: rgb(0 0 0 / 5%) 0 2px 6px 0;
  border-radius: 10px;
}

.mainTitle {
  margin-bottom: 2rem;
  font-size: 1.25rem;
  font-weight: 600;
  display: flex;
}

.mainTitle .back {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-right: 0.5rem;
}

.subTitle {
  border-left: 3px solid #1766db;
  padding-left: 0.5rem;
  margin: 1.5rem 0 1rem;
}

.toolkit {
  display: flex;
  flex-direction: column;
}

.actionGroup {
  display: flex;
  justify-content: space-between;
}

.filterWrapper {
  position: relative;
}

.filterToggle {
  padding: 0.5rem 1rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  border: 1px solid #dedede;
  background: #fff;
  border-radius: 7px;
  margin-left: 1rem;
}

.filterToggle.filterActive {
  color: #1766db;
  background: #e0edfd;
  border: 1px solid #1766db;
}

.filterToggle:hover {
  background: #ececec;
}

.filterBubbleWrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

.filterBubble {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #1766db;
  font-size: 0.8rem;
  height: 40px;
  padding: 0.5rem 1rem;
  background: #e0edfd;
  border-radius: 7px;
}

.filterBubble .remove {
  cursor: pointer;
  color: #1766db;
  margin-left: 0.5rem;
}

.searchBar {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

.searchBar input {
  outline: none;
  width: 100%;
  font-size: 0.8rem;
  border-radius: 7px;
  border: 1px solid #dedede;
  padding: 0.7rem 3rem 0.7rem 1rem;
}


.searchBar svg {
  color: #1766db;
  top: 12px;
  right: 12px;
  position: absolute;
  font-size: 1rem;
}

.addToCart {
  min-width: 75px;
  cursor: pointer;
  padding: 0.55rem 1rem;
  border-radius: 7px;
  background: #1766db;
  color: #fff;
  border: none;
}

.addToCart:hover {
  background: #1766db;
}

.detailCartBtn {
  color: #5e6064;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  border: none;
}

.detailCartBtn span {
  padding-right: 0.5rem;
}

.detailCartBtn svg {
  font-size: 1rem;
}

.detailCartBtn:hover {
  background: #1766db;
  color: #fff;
}

.emptyState {
  margin: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emptyState .icon {
  font-size: 3rem;
  color: #1766db;
}

.cartSection {
  display: flex;
  flex-direction: column;
}

.cartFlex {
  width: 100%;
  overflow-x: auto;
}

.productDetail {
  display: flex;
}

.productDetail .product {
  margin-left: 1rem;
  width: 90px;
}

.productDetail .product .name {
  font-weight: 600;
}

.productDetail .product .desc {
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #8c8f98;
  font-size: 0.8rem;
}

.summaryFlex {
  width: 100%;
}

.summary {
  width: 350px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #dedede;
  width: 100%;
}

.summary .header {
  font-weight: 600;
  padding: 0.75rem 1rem;
  font-size: 0.9rem;
  border-bottom: 1px solid #dedede;
}

.summary .detail {
  columns: 2;
  padding: 0.75rem 1rem;
}

.summary .item {
  font-size: 0.8rem;
  justify-content: flex-start;
}

.summary .item span:first-child {
  width: 95px;
}

.summary .item span:last-child::before {content: ': ';}

.summary .item,
.summary .grandTotal {
  display: flex;
  padding: 0.5rem 0;
}

.summary .promo {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background: #f1faff;
  color: #00a8ff;
  border-radius: 10px;
  border: 1px solid #00a8ff;
  font-size: 0.8rem;
}

.summary .promo svg {
  font-size: 2rem;
  margin-right: 0.5rem;
}

.summary .free {
  color: #00a8ff;
}

.summary .grandTotal {
  font-weight: 700;
  margin-top: 0.5rem;
  padding: 1rem 0;
  border-top: 1px solid #dedede;

}

.toggleProductView {
  display: flex;
  margin-left: 1rem;
}

.toggleProductView .toggle {
  display: flex;
}

.toggleProductView label {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dedede;
  color: #8c8f98;
}

.toggleProductView .first {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.toggleProductView .last {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.toggleProductView input[type="radio"] {
  display: none;
}

.toggleProductView input[type="radio"]:checked+label {
  color: #1766db;
  background: #e0edfd;
  border: 1px solid #1766db;
}

.cartDetailInfo {
  border-radius: 10px;
  padding: 1rem;
  background: #fff;
  display: flex;
  border: 1px solid #dedede;

}

.flex {
  display: flex;
}

.flexEnd {
  justify-content: flex-end !important;
}

.alignItemsEnd {
  align-items: flex-end;
}

.contentWrapper {
  width: 100%;
  overflow-x: auto;
  margin-bottom: 5rem;
}


@media (min-width: 768px) {
  .brand {
    display: none;
  }
  .productContainer {
    flex-direction: row;
  }
  .toolkit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .searchBar {
    position: relative;
    width: 30%;
    margin-bottom: 0;
  }
  .cartSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .cartFlex {
   width: 70%;
 }
  .summaryFlex {
   width: 30%;
 }
  .productDetail .product {
    margin-left: 1rem;
    width: 250px;
  }
  .summary {
    width: auto;
   }
   .fullWidth {
    width: 100%;
  }
  .mainTitle {
    margin-bottom: 2.5rem;
  }
  .mainTitle .back {
    display: none;
  }
  .subTitle {
    margin: 2rem 0 1rem;
  }
}